registry=https://dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/ 
always-auth=true

; begin auth token
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:username=dfe-ssp
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:_password=ZmxvbmdzaHN2c2R3ZzN2dmx3NHl2ZDR6aGhtdGFnY3diZ3N3aHQ1Z25hcTZmYjVmdWJucQ==
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:email=nadam.mccartney@education.gov.uk
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:username=dfe-ssp
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:_password=ZmxvbmdzaHN2c2R3ZzN2dmx3NHl2ZDR6aGhtdGFnY3diZ3N3aHQ1Z25hcTZmYjVmdWJucQ==
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:email=adam.mccartney@education.gov.uk
; end auth token
