//dfe-ssp.pkgs.visualstudio.com/S141-DfE-Pirean-Migration/_packaging/Pirean-Migration-Default/npm/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//dfe-ssp.pkgs.visualstudio.com/S141-DfE-Pirean-Migration/_packaging/Pirean-Migration-Default/npm/:_password=Y3h4ZWR6emtraXEzbWEzcTVheWl2cHVibGJqdnJmM3NtanlpdnVnbWpjNHhncHZ3dHV2YQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//dfe-ssp.pkgs.visualstudio.com/S141-DfE-Pirean-Migration/_packaging/Pirean-Migration-Default/npm/:email=not-used@example.com
//dfe-ssp.pkgs.visualstudio.com/S141-DfE-Pirean-Migration/_packaging/Pirean-Migration-Default/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//dfe-ssp.pkgs.visualstudio.com/S141-DfE-Pirean-Migration/_packaging/Pirean-Migration-Default/npm/registry/:_password=NDJyN3Z0emZydnEydW5kaHA3NWZodXJ5bWllY3RtbG53NmZseGMyY2R5bnRoZXMyZ3BzcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//dfe-ssp.pkgs.visualstudio.com/S141-DfE-Pirean-Migration/_packaging/Pirean-Migration-Default/npm/registry/:email=not-used@example.com
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:_password=YWFoZmc2YjNtYnlyYzN4NzZveHV1eWJlM254d2VwdnNlaGU2YzdsN2ZtbWRiZmJ3Y2w1YQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:email=not-used@example.com