<a href="/userdevices/<%=locals.serialNumber%>/<%=locals.uid%>" class="link-back">Back</a>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Confirm token deactivation
        </h1>
        <form method="post" id="form-deactivate">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <fieldset>
                <legend><p>Please confirm you would like to deactivate this token.</p></legend>
                <div class="form-group">
                    <label class="form-label" for="reason">Reason for deactivation of token (optional)</span> </label>
                    <textarea class="form-control full-width" rows="6" id="reason" name="reason"></textarea>
                </div>
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Deactivate</button>
            </div>
        </form>
    </div>
</div>