<div class="grid-row">
    <div class="col-6">
        <h1 class="heading-xlarge">
            Unlock code
        </h1>
        <p class="lede">Press the arrow on the token and then enter this code.</p>
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                <%=locals.unlockCode%>
            </h1>
        </div>
        <p>It should now be possible to reset the pin following the instructions on the screen.</p>
        <p><a href="/userdevices/<%=locals.serialNumber%>" class="button">Finish</a></p>
    </div>
</div>
