<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">
                Confirm user deactivation
            </h1>
            <form method="post" id="form-deactivate">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <fieldset class="govuk-fieldset">
                    <legend><p class="govuk-body">Please confirm you would like to deactivate the user.</p></legend>
                    <div class="govuk-form-group <%= (locals.validationMessages.reason !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label" for="reason">Reason for deactivation of user (mandatory)</span> </label>
                        <select class="govuk-select govuk-form-group govuk-!-margin-bottom-2" style="padding: 5px 0px;" name="select-reason" required>
                            <option selected value="Select a reason">Select a reason</option>
                            <option value="Generic email" >Generic email</option>
                            <option value="Generic/shared account" >Generic/shared account</option>
                            <option value="Username and email mismatch" >Username and email mismatch</option>
                            <option value="User has left organisation" >User has left organisation</option>
                            <option value="Security breach" >Security breach</option>
                            <option value="Account inactivity (2 years +)" >Account inactivity (2 years +)</option>
                            <option value="Student, parent or general enquiry" >Student, parent or general enquiry</option>
                        </select>
                        <% if (locals.validationMessages.reason !== undefined) { %>
                        <p class="govuk-error-message" id="validation-reason"><%= locals.validationMessages.reason %></p>
                        <% } %>
                        <textarea class="govuk-textarea" rows="6" id="reason" name="reason"  placeholder="Please select a reason from the dropdown menu, or type a reason here."
                                <% if (locals.validationMessages.reason !== undefined) { %>
                            aria-invalid="true" aria-describedby="validation-reason"
                                <% } %>
                                value="<%= locals.reason %>"></textarea>
                    </div>
                    <div class="govuk-checkboxes govuk-!-margin-bottom-2" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" name="remove-services-and-requests" value="remove-services-and-requests" id="remove-services-and-requests" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label govuk-!-padding-top-0" for="remove-services-and-requests">
                                Tick this checkbox to remove <strong>all services and requests for the user</strong>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Deactivate</button>
                </div>
            </form>
        </div>
    </div>
</div>

