<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Confirm invitation reactivation
            </h1>

            <form method="post" id="form-reactivate">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
    
                <p class="govuk-body">Please confirm you would like to reactivate the invitation.</p>
    
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Reactivate</button>
                    <a href="services" name="cancel" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
