<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Confirm user deactivation
        </h1>
        <form method="post" id="form-deactivate">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <fieldset class="govuk-fieldset">
                <legend><p>Please confirm you would like to deactivate the user.</p></legend>
                <div class="form-group <%= (locals.validationMessages.reason !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="reason">Reason for deactivation of user (mandatory)</span> </label>
                    <select class="govuk-select form-group select2-container--classic font-small" style="padding: 5px 0px;" name="select-reason" required>
                        <option selected value="Select a reason">Select a reason</option>
                        <option value="Generic email" >Generic email</option>
                        <option value="Generic/shared account" >Generic/shared account</option>
                        <option value="Username and email mismatch" >Username and email mismatch</option>
                        <option value="User has left organisation" >User has left organisation</option>
                        <option value="Security breach" >Security breach</option>
                        <option value="Account inactivity (2 years +)" >Account inactivity (2 years +)</option>
                        <option value="Student, parent or general enquiry" >Student, parent or general enquiry</option>
                    </select>
                    <% if (locals.validationMessages.reason !== undefined) { %>
                    <p class="error-message" id="validation-reason"><%= locals.validationMessages.reason %></p>
                    <% } %>
                    <textarea class="form-control full-width form-group" rows="6" id="reason" name="reason"  placeholder="Please select a reason from the dropdown menu, or type a reason here."
                            <% if (locals.validationMessages.reason !== undefined) { %>
                           aria-invalid="true" aria-describedby="validation-reason"
                            <% } %>
                            value="<%= locals.reason %>"></textarea>
                </div>
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Deactivate</button>
            </div>
        </form>
    </div>
</div>

