<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Signed out
        </h1>
        <p>You have successfully signed out.</p>
        <p><a href="/" class="button">Return to sign-in page</a> </p>
    </div>
</div>


