<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Signed out
            </h1>
            <p class="govuk-body">You have successfully signed out.</p>
            <p><a href="/" class="govuk-button">Return to sign-in page</a> </p>
        </div>
    </div>
</div>
